// colors
$primary-color: #FFCB33;
$primary-text-color: #FFC945;
$additional-text-color: #fff;
$background-color: #0e1132;
$black: #111137;
$gray: #8889A1;
$border-color: #687983;
$additional-border-color: #8889A3;

$border-radius: 4px;
